h1, h2 {
   color: lightcoral;
   text-align: center;
}


form {
   text-align: center;
   color: lightpink;
   /*background-color: rgb(175, 56, 56);*/
}

body {
   padding: 0px 100px;
   margin: 1rem;
   background-color: rgb(107, 31, 12);
}

button {
   background-color: rgb(243, 124, 124);
   cursor: pointer;
}

b {
   color: rgb(243, 124, 124);
}

p {
   color: lightpink;
   padding: 10px;
   margin: 0px;
   border-radius: 0px;
   /*background-color: rgb(175, 56, 56);*/
}